In [ ]:
import pandas as pd

In [2]:
attack_df = pd.read_csv('C:\\Users\\Asus\\Downloads\\data_science Lab\\SWaT_Dataset_Normal_v0.csv')
normal_df = pd.read_csv('C:\\Users\\Asus\\Downloads\\data_science Lab\\SWaT_Dataset_Attack_v0.csv')

In [3]:
# Combine the datasets
combined_df = pd.concat([normal_df, attack_df], ignore_index=True)

In [4]:
# Trim spaces from the 'Timestamp' column to ensure clean data
combined_df['Timestamp'] = combined_df['Timestamp'].str.strip()

In [5]:
try:
    combined_df['Timestamp'] = pd.to_datetime(combined_df['Timestamp'], format='%d/%m/%Y %I:%M:%S %p')
except ValueError:
    combined_df['Timestamp'] = pd.to_datetime(combined_df['Timestamp'], infer_datetime_format=True, dayfirst=True)

In [6]:
combined_df

,Timestamp,FIT101,LIT101,MV101,P101,P102,AIT201,AIT202,AIT203,FIT201,...,P501,P502,PIT501,PIT502,PIT503,FIT601,P601,P602,P603,Normal/Attack
0,2015-12-28 10:00:00,2.427057,522.8467,2,2,1,262.0161,8.396437,328.6337,2.445391,...,2,1,250.8652,1.649953,189.5988,0.000128,1,1,1,Normal
1,2015-12-28 10:00:01,2.446274,522.8860,2,2,1,262.0161,8.396437,328.6337,2.445391,...,2,1,250.8652,1.649953,189.6789,0.000128,1,1,1,Normal
2,2015-12-28 10:00:02,2.489191,522.8467,2,2,1,262.0161,8.394514,328.6337,2.442316,...,2,1,250.8812,1.649953,189.6789,0.000128,1,1,1,Normal
3,2015-12-28 10:00:03,2.534350,522.9645,2,2,1,262.0161,8.394514,328.6337,2.442316,...,2,1,250.8812,1.649953,189.6148,0.000128,1,1,1,Normal
4,2015-12-28 10:00:04,2.569260,523.4748,2,2,1,262.0161,8.394514,328.6337,2.443085,...,2,1,250.8812,1.649953,189.5027,0.000128,1,1,1,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
946714,2015-12-28 09:59:55,2.460366,523.0430,2,2,1,262.0161,8.396437,328.5055,2.442316,...,2,1,250.8171,1.778105,189.8552,0.000128,1,1,1,Normal
946715,2015-12-28 09:59:56,2.448836,522.9645,2,2,1,262.0161,8.396437,328.5055,2.442316,...,2,1,250.8171,1.778105,189.5027,0.000128,1,1,1,Normal
946716,2015-12-28 09:59:57,2.434744,522.8860,2,2,1,262.0161,8.396437,328.6337,2.444879,...,2,1,250.8171,1.778105,189.5027,0.000128,1,1,1,Normal
946717,2015-12-28 09:59:58,2.428338,522.9252,2,2,1,262.0161,8.396437,328.6337,2.445391,...,2,1,250.8171,1.649953,189.5027,0.000128,1,1,1,Normal
946718,2015-12-28 09:59:59,2.427057,522.8467,2,2,1,262.0161,8.396437,328.6337,2.445391,...,2,1,250.8652,1.649953,189.5988,0.000128,1,1,1,Normal

In [7]:
# Check for any missing values and summarize the dataset
missing_values_combined = combined_df.isnull().sum()
combined_info = combined_df.info()
combined_sample = combined_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 946719 entries, 0 to 946718
Data columns (total 53 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Timestamp      946719 non-null  datetime64[ns]
 1   FIT101         946719 non-null  float64
 2   LIT101         946719 non-null  float64
 3   MV101          946719 non-null  int64
 4   P101           946719 non-null  int64
 5   P102           946719 non-null  int64
 6   AIT201         946719 non-null  float64
 7   AIT202         946719 non-null  float64
 8   AIT203         946719 non-null  float64
 9   FIT201         946719 non-null  float64
 10  MV201          946719 non-null  int64
 11  P201           946719 non-null  int64
 12  P202           946719 non-null  int64
 13  P203           946719 non-null  int64
 14  P204           946719 non-null  int64
 15  P205           946719 non-null  int64
 16  P206           946719 non-null  int64
 17  DPIT301        946719 non-null  float64
 18  FIT301         946719 non-null  float64
 19  LIT301         946719 non-null  float64
 20  MV301          946719 non-null  int64
 21  MV302          946719 non-null  int64
 22  MV303          946719 non-null  int64
 23  MV304          946719 non-null  int64
 24  P301           946719 non-null  int64
 25  P302           946719 non-null  int64
 26  AIT401         946719 non-null  float64
 27  AIT402         946719 non-null  float64
 28  FIT401         946719 non-null  float64
 29  LIT401         946719 non-null  float64
 30  P401           946719 non-null  int64
 31  P402           946719 non-null  int64
 32  P403           946719 non-null  int64
 33  P404           946719 non-null  int64
 34  UV401          946719 non-null  int64
 35  AIT501         946719 non-null  float64
 36  AIT502         946719 non-null  float64
 37  AIT503         946719 non-null  float64
 38  AIT504         946719 non-null  float64
 39  FIT501         946719 non-null  float64
 40  FIT502         946719 non-null  float64
 41  FIT503         946719 non-null  float64
 42  FIT504         946719 non-null  float64
 43  P501           946719 non-null  int64
 44  P502           946719 non-null  int64
 45  PIT501         946719 non-null  float64
 46  PIT502         946719 non-null  float64
 47  PIT503         946719 non-null  float64
 48  FIT601         946719 non-null  float64
 49  P601           946719 non-null  int64
 50  P602           946719 non-null  int64
 51  P603           946719 non-null  int64
 52  Normal/Attack  946719 non-null  object
dtypes: datetime64[ns](1), float64(25), int64(26), object(1)
memory usage: 382.8+ MB

In [8]:
import pandas as pd
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

In [9]:
import pandas as pd

# Assume 'combined_df' is your DataFrame
def find_duplicate_columns(df):
    duplicate_columns = []
    duplicates = set()  # Set to hold all duplicates
    for i in range(df.shape[1]):
        col1 = df.iloc[:, i]
        if col1.name in duplicates:
            continue  # Skip checking if already identified as a duplicate
        for j in range(i + 1, df.shape[1]):
            col2 = df.iloc[:, j]
            if col1.equals(col2):
                duplicate_columns.append((df.columns[i], df.columns[j]))
                duplicates.add(df.columns[j])
                duplicates.add(df.columns[i])
    return duplicate_columns, duplicates

# Check for duplicate columns and get all duplicates
duplicates, all_duplicates = find_duplicate_columns(combined_df)
print("Duplicate Columns:", duplicates)
print("All Duplicate Columns to be Removed:", all_duplicates)

# Remove all duplicate columns from the DataFrame
combined_df_cleaned = combined_df.drop(columns=all_duplicates)

# Print the first few rows of the updated DataFrame
print("Updated DataFrame Preview:")
print(combined_df_cleaned.head())

Duplicate Columns: [('P202', 'P401'), ('P202', 'P404'), ('P202', 'P502'), ('P202', 'P601'), ('P202', 'P603')]
All Duplicate Columns to be Removed: {'P502', 'P202', 'P401', 'P601', 'P404', 'P603'}
Updated DataFrame Preview:
            Timestamp    FIT101    LIT101  MV101  P101  P102    AIT201  \
0 2015-12-28 10:00:00  2.427057  522.8467      2     2     1  262.0161
1 2015-12-28 10:00:01  2.446274  522.8860      2     2     1  262.0161
2 2015-12-28 10:00:02  2.489191  522.8467      2     2     1  262.0161
3 2015-12-28 10:00:03  2.534350  522.9645      2     2     1  262.0161
4 2015-12-28 10:00:04  2.569260  523.4748      2     2     1  262.0161

     AIT202    AIT203    FIT201  ...    FIT502    FIT503    FIT504  P501  \
0  8.396437  328.6337  2.445391  ...  1.279621  0.735269  0.307786     2
1  8.396437  328.6337  2.445391  ...  1.297554  0.735269  0.307786     2
2  8.394514  328.6337  2.442316  ...  1.293967  0.735269  0.308619     2
3  8.394514  328.6337  2.442316  ...  1.281158  0.735269  0.308619     2
4  8.394514  328.6337  2.443085  ...  1.281158  0.735269  0.308619     2

     PIT501    PIT502    PIT503    FIT601  P602  Normal/Attack
0  250.8652  1.649953  189.5988  0.000128     1         Normal
1  250.8652  1.649953  189.6789  0.000128     1         Normal
2  250.8812  1.649953  189.6789  0.000128     1         Normal
3  250.8812  1.649953  189.6148  0.000128     1         Normal
4  250.8812  1.649953  189.5027  0.000128     1         Normal

[5 rows x 47 columns]

In [10]:
combined_df_cleaned.head()

,Timestamp,FIT101,LIT101,MV101,P101,P102,AIT201,AIT202,AIT203,FIT201,...,FIT502,FIT503,FIT504,P501,PIT501,PIT502,PIT503,FIT601,P602,Normal/Attack
0,2015-12-28 10:00:00,2.427057,522.8467,2,2,1,262.0161,8.396437,328.6337,2.445391,...,1.279621,0.735269,0.307786,2,250.8652,1.649953,189.5988,0.000128,1,Normal
1,2015-12-28 10:00:01,2.446274,522.8860,2,2,1,262.0161,8.396437,328.6337,2.445391,...,1.297554,0.735269,0.307786,2,250.8652,1.649953,189.6789,0.000128,1,Normal
2,2015-12-28 10:00:02,2.489191,522.8467,2,2,1,262.0161,8.394514,328.6337,2.442316,...,1.293967,0.735269,0.308619,2,250.8812,1.649953,189.6789,0.000128,1,Normal
3,2015-12-28 10:00:03,2.534350,522.9645,2,2,1,262.0161,8.394514,328.6337,2.442316,...,1.281158,0.735269,0.308619,2,250.8812,1.649953,189.6148,0.000128,1,Normal
4,2015-12-28 10:00:04,2.569260,523.4748,2,2,1,262.0161,8.394514,328.6337,2.443085,...,1.281158,0.735269,0.308619,2,250.8812,1.649953,189.5027,0.000128,1,Normal

In [11]:
categorical_threshold = 50
categorical_features = []

# Adjusting feature detection to exclude 'Normal/Attack' and 'Timestamp'
for column in combined_df_cleaned.columns:
    if column not in ['Normal/Attack', 'Timestamp'] and combined_df_cleaned[column].nunique() <= categorical_threshold:
        categorical_features.append(column)

print("Categorical Features:", categorical_features)

# Ensure that numerical features also exclude 'Timestamp' and 'Normal/Attack'
numerical_features = [col for col in combined_df_cleaned.columns if col not in categorical_features and col not in ['Normal/Attack', 'Timestamp']]

print("Numerical Features:", numerical_features)

Categorical Features: ['MV101', 'P101', 'P102', 'MV201', 'P201', 'P203', 'P204', 'P205', 'P206', 'MV301', 'MV302', 'MV303', 'MV304', 'P301', 'P302', 'AIT401', 'P402', 'P403', 'UV401', 'P501', 'P602']
Numerical Features: ['FIT101', 'LIT101', 'AIT201', 'AIT202', 'AIT203', 'FIT201', 'DPIT301', 'FIT301', 'LIT301', 'AIT402', 'FIT401', 'LIT401', 'AIT501', 'AIT502', 'AIT503', 'AIT504', 'FIT501', 'FIT502', 'FIT503', 'FIT504', 'PIT501', 'PIT502', 'PIT503', 'FIT601']

In [12]:
from sklearn.preprocessing import OneHotEncoder, MinMaxScaler
from sklearn.feature_selection import VarianceThreshold

In [13]:
sampled_df = combined_df_cleaned.sample(frac=0.1, random_state=42)
print("Sampled DataFrame size:", sampled_df.shape)

Sampled DataFrame size: (94672, 47)

In [14]:
from sklearn.model_selection import train_test_split
X = sampled_df.drop('Normal/Attack', axis=1)  # Features
y = sampled_df['Normal/Attack']               # Labels

# Split the data into training (80%) and test (20%) sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

print("Training set size:", X_train.shape)
print("Test set size:", X_test.shape)

Training set size: (75737, 46)
Test set size: (18935, 46)

In [15]:
X_train_numeric = X_train.drop(columns=['Timestamp'])
X_test_numeric = X_test.drop(columns=['Timestamp'])

In [16]:
X_train['Timestamp'] = X_train['Timestamp'].apply(pd.Timestamp.timestamp)
X_test['Timestamp'] = X_test['Timestamp'].apply(pd.Timestamp.timestamp)

In [17]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
X_train_scaled = scaler.fit_transform(X_train_numeric)
X_test_scaled = scaler.transform(X_test_numeric)

In [18]:
# Reshape for a single timestep per sample
X_train_reshaped = X_train_scaled.reshape((X_train_scaled.shape[0], 1, X_train_scaled.shape[1]))
X_test_reshaped = X_test_scaled.reshape((X_test_scaled.shape[0], 1, X_test_scaled.shape[1]))

In [19]:
# Convert categorical labels to numbers
label_mapping = {'Normal': 0, 'Attack': 1}
y_train = y_train.map(label_mapping)
y_test = y_test.map(label_mapping)

In [20]:
print(y_train.head())
print(y_train.dtype)

434090    0.0
113899    0.0
749073    0.0
439323    0.0
138780    0.0
Name: Normal/Attack, dtype: float64
float64

In [21]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense, Input

# Define the LSTM model using Input layer
model = Sequential([
    Input(shape=(X_train_reshaped.shape[1], X_train_reshaped.shape[2])), 
    LSTM(50, activation='relu'),
    Dense(1)  
])
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [22]:
history = model.fit(X_train_reshaped, y_train, epochs=50, batch_size=32, validation_data=(X_test_reshaped, y_test))

Epoch 1/50
2367/2367 ━━━━━━━━━━━━━━━━━━━━ 7s 2ms/step - accuracy: 0.9529 - loss: nan - val_accuracy: 0.9422 - val_loss: nan
Epoch 2/50
2367/2367 ━━━━━━━━━━━━━━━━━━━━ 5s 2ms/step - accuracy: 0.9427 - loss: nan - val_accuracy: 0.9422 - val_loss: nan
Epoch 3/50
2367/2367 ━━━━━━━━━━━━━━━━━━━━ 5s 2ms/step - accuracy: 0.9420 - loss: nan - val_accuracy: 0.9422 - val_loss: nan
Epoch 4/50
2367/2367 ━━━━━━━━━━━━━━━━━━━━ 4s 2ms/step - accuracy: 0.9435 - loss: nan - val_accuracy: 0.9422 - val_loss: nan
Epoch 5/50
2367/2367 ━━━━━━━━━━━━━━━━━━━━ 5s 2ms/step - accuracy: 0.9394 - loss: nan - val_accuracy: 0.9422 - val_loss: nan
Epoch 6/50
2367/2367 ━━━━━━━━━━━━━━━━━━━━ 5s 2ms/step - accuracy: 0.9446 - loss: nan - val_accuracy: 0.9422 - val_loss: nan
Epoch 7/50
2367/2367 ━━━━━━━━━━━━━━━━━━━━ 5s 2ms/step - accuracy: 0.9423 - loss: nan - val_accuracy: 0.9422 - val_loss: nan
Epoch 8/50
2367/2367 ━━━━━━━━━━━━━━━━━━━━ 5s 2ms/step - accuracy: 0.9441 - loss: nan - val_accuracy: 0.9422 - val_loss: nan
Epoch 9/50
2367/2367 ━━━━━━━━━━━━━━━━━━━━ 5s 2ms/step - accuracy: 0.9421 - loss: nan - val_accuracy: 0.9422 - val_loss: nan
Epoch 10/50
2367/2367 ━━━━━━━━━━━━━━━━━━━━ 5s 2ms/step - accuracy: 0.9428 - loss: nan - val_accuracy: 0.9422 - val_loss: nan
Epoch 11/50
2367/2367 ━━━━━━━━━━━━━━━━━━━━ 5s 2ms/step - accuracy: 0.9431 - loss: nan - val_accuracy: 0.9422 - val_loss: nan
Epoch 12/50
2367/2367 ━━━━━━━━━━━━━━━━━━━━ 5s 2ms/step - accuracy: 0.9431 - loss: nan - val_accuracy: 0.9422 - val_loss: nan
Epoch 13/50
2367/2367 ━━━━━━━━━━━━━━━━━━━━ 5s 2ms/step - accuracy: 0.9424 - loss: nan - val_accuracy: 0.9422 - val_loss: nan
Epoch 14/50
2367/2367 ━━━━━━━━━━━━━━━━━━━━ 5s 2ms/step - accuracy: 0.9441 - loss: nan - val_accuracy: 0.9422 - val_loss: nan
Epoch 15/50
2367/2367 ━━━━━━━━━━━━━━━━━━━━ 5s 2ms/step - accuracy: 0.9432 - loss: nan - val_accuracy: 0.9422 - val_loss: nan
Epoch 16/50
2367/2367 ━━━━━━━━━━━━━━━━━━━━ 5s 2ms/step - accuracy: 0.9430 - loss: nan - val_accuracy: 0.9422 - val_loss: nan
Epoch 17/50
2367/2367 ━━━━━━━━━━━━━━━━━━━━ 5s 2ms/step - accuracy: 0.9429 - loss: nan - val_accuracy: 0.9422 - val_loss: nan
Epoch 18/50
2367/2367 ━━━━━━━━━━━━━━━━━━━━ 5s 2ms/step - accuracy: 0.9439 - loss: nan - val_accuracy: 0.9422 - val_loss: nan
Epoch 19/50
2367/2367 ━━━━━━━━━━━━━━━━━━━━ 5s 2ms/step - accuracy: 0.9442 - loss: nan - val_accuracy: 0.9422 - val_loss: nan
Epoch 20/50
2367/2367 ━━━━━━━━━━━━━━━━━━━━ 5s 2ms/step - accuracy: 0.9427 - loss: nan - val_accuracy: 0.9422 - val_loss: nan
Epoch 21/50
2367/2367 ━━━━━━━━━━━━━━━━━━━━ 5s 2ms/step - accuracy: 0.9431 - loss: nan - val_accuracy: 0.9422 - val_loss: nan
Epoch 22/50
2367/2367 ━━━━━━━━━━━━━━━━━━━━ 5s 2ms/step - accuracy: 0.9417 - loss: nan - val_accuracy: 0.9422 - val_loss: nan
Epoch 23/50
2367/2367 ━━━━━━━━━━━━━━━━━━━━ 5s 2ms/step - accuracy: 0.9421 - loss: nan - val_accuracy: 0.9422 - val_loss: nan
Epoch 24/50
2367/2367 ━━━━━━━━━━━━━━━━━━━━ 5s 2ms/step - accuracy: 0.9436 - loss: nan - val_accuracy: 0.9422 - val_loss: nan
Epoch 25/50
2367/2367 ━━━━━━━━━━━━━━━━━━━━ 5s 2ms/step - accuracy: 0.9428 - loss: nan - val_accuracy: 0.9422 - val_loss: nan
Epoch 26/50
2367/2367 ━━━━━━━━━━━━━━━━━━━━ 5s 2ms/step - accuracy: 0.9444 - loss: nan - val_accuracy: 0.9422 - val_loss: nan
Epoch 27/50
2367/2367 ━━━━━━━━━━━━━━━━━━━━ 5s 2ms/step - accuracy: 0.9426 - loss: nan - val_accuracy: 0.9422 - val_loss: nan
Epoch 28/50
2367/2367 ━━━━━━━━━━━━━━━━━━━━ 5s 2ms/step - accuracy: 0.9425 - loss: nan - val_accuracy: 0.9422 - val_loss: nan
Epoch 29/50
2367/2367 ━━━━━━━━━━━━━━━━━━━━ 5s 2ms/step - accuracy: 0.9431 - loss: nan - val_accuracy: 0.9422 - val_loss: nan
Epoch 30/50
2367/2367 ━━━━━━━━━━━━━━━━━━━━ 5s 2ms/step - accuracy: 0.9428 - loss: nan - val_accuracy: 0.9422 - val_loss: nan
Epoch 31/50
2367/2367 ━━━━━━━━━━━━━━━━━━━━ 5s 2ms/step - accuracy: 0.9438 - loss: nan - val_accuracy: 0.9422 - val_loss: nan
Epoch 32/50
2367/2367 ━━━━━━━━━━━━━━━━━━━━ 5s 2ms/step - accuracy: 0.9439 - loss: nan - val_accuracy: 0.9422 - val_loss: nan
Epoch 33/50
2367/2367 ━━━━━━━━━━━━━━━━━━━━ 5s 2ms/step - accuracy: 0.9447 - loss: nan - val_accuracy: 0.9422 - val_loss: nan
Epoch 34/50
2367/2367 ━━━━━━━━━━━━━━━━━━━━ 5s 2ms/step - accuracy: 0.9428 - loss: nan - val_accuracy: 0.9422 - val_loss: nan
Epoch 35/50
2367/2367 ━━━━━━━━━━━━━━━━━━━━ 5s 2ms/step - accuracy: 0.9427 - loss: nan - val_accuracy: 0.9422 - val_loss: nan
Epoch 36/50
2367/2367 ━━━━━━━━━━━━━━━━━━━━ 5s 2ms/step - accuracy: 0.9432 - loss: nan - val_accuracy: 0.9422 - val_loss: nan
Epoch 37/50
2367/2367 ━━━━━━━━━━━━━━━━━━━━ 5s 2ms/step - accuracy: 0.9438 - loss: nan - val_accuracy: 0.9422 - val_loss: nan
Epoch 38/50
2367/2367 ━━━━━━━━━━━━━━━━━━━━ 5s 2ms/step - accuracy: 0.9423 - loss: nan - val_accuracy: 0.9422 - val_loss: nan
Epoch 39/50
2367/2367 ━━━━━━━━━━━━━━━━━━━━ 5s 2ms/step - accuracy: 0.9425 - loss: nan - val_accuracy: 0.9422 - val_loss: nan
Epoch 40/50
2367/2367 ━━━━━━━━━━━━━━━━━━━━ 5s 2ms/step - accuracy: 0.9435 - loss: nan - val_accuracy: 0.9422 - val_loss: nan
Epoch 41/50
2367/2367 ━━━━━━━━━━━━━━━━━━━━ 5s 2ms/step - accuracy: 0.9427 - loss: nan - val_accuracy: 0.9422 - val_loss: nan
Epoch 42/50
2367/2367 ━━━━━━━━━━━━━━━━━━━━ 5s 2ms/step - accuracy: 0.9432 - loss: nan - val_accuracy: 0.9422 - val_loss: nan
Epoch 43/50
2367/2367 ━━━━━━━━━━━━━━━━━━━━ 5s 2ms/step - accuracy: 0.9426 - loss: nan - val_accuracy: 0.9422 - val_loss: nan
Epoch 44/50
2367/2367 ━━━━━━━━━━━━━━━━━━━━ 5s 2ms/step - accuracy: 0.9422 - loss: nan - val_accuracy: 0.9422 - val_loss: nan
Epoch 45/50
2367/2367 ━━━━━━━━━━━━━━━━━━━━ 5s 2ms/step - accuracy: 0.9428 - loss: nan - val_accuracy: 0.9422 - val_loss: nan
Epoch 46/50
2367/2367 ━━━━━━━━━━━━━━━━━━━━ 4s 2ms/step - accuracy: 0.9425 - loss: nan - val_accuracy: 0.9422 - val_loss: nan
Epoch 47/50
2367/2367 ━━━━━━━━━━━━━━━━━━━━ 5s 2ms/step - accuracy: 0.9436 - loss: nan - val_accuracy: 0.9422 - val_loss: nan
Epoch 48/50
2367/2367 ━━━━━━━━━━━━━━━━━━━━ 5s 2ms/step - accuracy: 0.9424 - loss: nan - val_accuracy: 0.9422 - val_loss: nan
Epoch 49/50
2367/2367 ━━━━━━━━━━━━━━━━━━━━ 5s 2ms/step - accuracy: 0.9437 - loss: nan - val_accuracy: 0.9422 - val_loss: nan
Epoch 50/50
2367/2367 ━━━━━━━━━━━━━━━━━━━━ 5s 2ms/step - accuracy: 0.9420 - loss: nan - val_accuracy: 0.9422 - val_loss: nan

In [23]:
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [24]:
loss, accuracy = model.evaluate(X_test_reshaped, y_test)
print("Test accuracy:", accuracy)

592/592 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.9421 - loss: nan
Test accuracy: 0.9422233700752258

In [25]:
predictions = model.predict(X_test_reshaped)
predictions = (predictions > 0.5).astype(int)  # Assuming binary classification (0 and 1)

592/592 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step

In [26]:
from sklearn.metrics import classification_report

In [27]:
print(y_test.isnull().sum())  # Count NaN values in y_test

1

In [28]:
# Drop samples with NaN in y_test and corresponding predictions
valid_indices = y_test.notnull()  # Indices where y_test is not NaN
y_test_clean = y_test[valid_indices]
predictions_clean = predictions[valid_indices]

In [29]:
# Example: Fill NaN with the mode of y_test
mode_value = y_test.mode()[0]
y_test_filled = y_test.fillna(mode_value)

In [30]:
from sklearn.metrics import classification_report

# Ensure no NaN values remain
print(y_test_clean.isnull().sum())  # Should be 0

# Calculate metrics
report = classification_report(y_test_clean, predictions_clean, target_names=['Normal', 'Attack'], zero_division=0)
print(report)

0
              precision    recall  f1-score   support

      Normal       0.94      1.00      0.97     17841
      Attack       0.00      0.00      0.00      1093

    accuracy                           0.94     18934
   macro avg       0.47      0.50      0.49     18934
weighted avg       0.89      0.94      0.91     18934

In [31]:
#pip install fastdtw

In [32]:
# Assuming 'timestamp_column' is your DataFrame column with Timestamps
combined_df_cleaned['numeric_timestamp'] = combined_df_cleaned['Timestamp'].apply(lambda x: x.timestamp())

In [33]:
# Extract features such as hour, day, etc.
combined_df_cleaned['hour'] = combined_df_cleaned['Timestamp'].dt.hour
combined_df_cleaned['day'] = combined_df_cleaned['Timestamp'].dt.day
combined_df_cleaned['month'] = combined_df_cleaned['Timestamp'].dt.month

In [34]:
import numpy as np
time_series_data = np.array(combined_df_cleaned['numeric_timestamp'].tolist())

In [35]:
print(combined_df_cleaned.dtypes)  # This will help you verify that no 'Timestamp' types remain.

Timestamp            datetime64[ns]
FIT101                      float64
LIT101                      float64
MV101                         int64
P101                          int64
P102                          int64
AIT201                      float64
AIT202                      float64
AIT203                      float64
FIT201                      float64
MV201                         int64
P201                          int64
P203                          int64
P204                          int64
P205                          int64
P206                          int64
DPIT301                     float64
FIT301                      float64
LIT301                      float64
MV301                         int64
MV302                         int64
MV303                         int64
MV304                         int64
P301                          int64
P302                          int64
AIT401                      float64
AIT402                      float64
FIT401                      float64
LIT401                      float64
P402                          int64
P403                          int64
UV401                         int64
AIT501                      float64
AIT502                      float64
AIT503                      float64
AIT504                      float64
FIT501                      float64
FIT502                      float64
FIT503                      float64
FIT504                      float64
P501                          int64
PIT501                      float64
PIT502                      float64
PIT503                      float64
FIT601                      float64
P602                          int64
Normal/Attack                object
numeric_timestamp           float64
hour                          int32
day                           int32
month                         int32
dtype: object

In [36]:
combined_df_cleaned

,Timestamp,FIT101,LIT101,MV101,P101,P102,AIT201,AIT202,AIT203,FIT201,...,PIT501,PIT502,PIT503,FIT601,P602,Normal/Attack,numeric_timestamp,hour,day,month
0,2015-12-28 10:00:00,2.427057,522.8467,2,2,1,262.0161,8.396437,328.6337,2.445391,...,250.8652,1.649953,189.5988,0.000128,1,Normal,1.451297e+09,10,28,12
1,2015-12-28 10:00:01,2.446274,522.8860,2,2,1,262.0161,8.396437,328.6337,2.445391,...,250.8652,1.649953,189.6789,0.000128,1,Normal,1.451297e+09,10,28,12
2,2015-12-28 10:00:02,2.489191,522.8467,2,2,1,262.0161,8.394514,328.6337,2.442316,...,250.8812,1.649953,189.6789,0.000128,1,Normal,1.451297e+09,10,28,12
3,2015-12-28 10:00:03,2.534350,522.9645,2,2,1,262.0161,8.394514,328.6337,2.442316,...,250.8812,1.649953,189.6148,0.000128,1,Normal,1.451297e+09,10,28,12
4,2015-12-28 10:00:04,2.569260,523.4748,2,2,1,262.0161,8.394514,328.6337,2.443085,...,250.8812,1.649953,189.5027,0.000128,1,Normal,1.451297e+09,10,28,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
946714,2015-12-28 09:59:55,2.460366,523.0430,2,2,1,262.0161,8.396437,328.5055,2.442316,...,250.8171,1.778105,189.8552,0.000128,1,Normal,1.451297e+09,9,28,12
946715,2015-12-28 09:59:56,2.448836,522.9645,2,2,1,262.0161,8.396437,328.5055,2.442316,...,250.8171,1.778105,189.5027,0.000128,1,Normal,1.451297e+09,9,28,12
946716,2015-12-28 09:59:57,2.434744,522.8860,2,2,1,262.0161,8.396437,328.6337,2.444879,...,250.8171,1.778105,189.5027,0.000128,1,Normal,1.451297e+09,9,28,12
946717,2015-12-28 09:59:58,2.428338,522.9252,2,2,1,262.0161,8.396437,328.6337,2.445391,...,250.8171,1.649953,189.5027,0.000128,1,Normal,1.451297e+09,9,28,12
946718,2015-12-28 09:59:59,2.427057,522.8467,2,2,1,262.0161,8.396437,328.6337,2.445391,...,250.8652,1.649953,189.5988,0.000128,1,Normal,1.451297e+09,9,28,12

In [226]:
#from sklearn.preprocessing import StandardScaler, MinMaxScaler

#scaler = MinMaxScaler()  # Or StandardScaler()
#time_series_data_scaled = scaler.fit_transform(time_series_data.reshape(-1, 1))
#time_series_data_scaled = time_series_data_scaled.reshape(-1)  # Reshape back to original after scaling if needed

In [79]:
from fastdtw import fastdtw
from scipy.spatial.distance import euclidean

reference_series = time_series_data[0]
dtw_distances = []

In [54]:
if time_series_data.ndim == 1:
    time_series_data = time_series_data.reshape(-1, 1)

In [55]:
if series.ndim != 1:
    series = series.reshape(-1)  # This flattens the array to 1-D if it's multidimensional

In [81]:
distance = euclidean(reference_series, series)

In [82]:
for series in time_series_data:
    distance = euclidean(reference_series, series)
    dtw_distances.append(distance)

In [83]:
len(dtw_distances)

946719

In [66]:
len(combined_df_cleaned)

946719

In [52]:
#distance = euclidean(reference_series, series)

In [51]:
#for series in time_series_data:
    # Check and reshape the series to ensure it is 1-D
 #   if series.ndim != 1:
  #      series = np.reshape(series, -1)  # Flatten the array if not already 1-D
   # distance, path = fastdtw(reference_series, series, dist=euclidean)
    #dtw_distances.append(distance)

In [75]:
#for series in time_series_data:
  # Check if the series is a single value (unusual but valid for fastdtw)
 # if len(series.shape) == 0 or series.shape[0] == 1:
  #  distance = euclidean(reference_series, series)
   # dtw_distances.append(distance)
  #else:
    # Handle cases where series might have multiple dimensions (more than 1 value)
    # Reshape the series to ensure it's 1D
   # series = series.flatten()
    #print(series)  # Add this line to print the series content
    #distance, path = fastdtw(reference_series, series, dist=euclidean)
    #dtw_distances.append(distance)

In [84]:
combined_df_cleaned['dtw_distance'] = dtw_distances

In [85]:
combined_df_cleaned

,Timestamp,FIT101,LIT101,MV101,P101,P102,AIT201,AIT202,AIT203,FIT201,...,PIT502,PIT503,FIT601,P602,Normal/Attack,numeric_timestamp,hour,day,month,dtw_distance
0,2015-12-28 10:00:00,2.427057,522.8467,2,2,1,262.0161,8.396437,328.6337,2.445391,...,1.649953,189.5988,0.000128,1,Normal,1.451297e+09,10,28,12,0.0
1,2015-12-28 10:00:01,2.446274,522.8860,2,2,1,262.0161,8.396437,328.6337,2.445391,...,1.649953,189.6789,0.000128,1,Normal,1.451297e+09,10,28,12,1.0
2,2015-12-28 10:00:02,2.489191,522.8467,2,2,1,262.0161,8.394514,328.6337,2.442316,...,1.649953,189.6789,0.000128,1,Normal,1.451297e+09,10,28,12,2.0
3,2015-12-28 10:00:03,2.534350,522.9645,2,2,1,262.0161,8.394514,328.6337,2.442316,...,1.649953,189.6148,0.000128,1,Normal,1.451297e+09,10,28,12,3.0
4,2015-12-28 10:00:04,2.569260,523.4748,2,2,1,262.0161,8.394514,328.6337,2.443085,...,1.649953,189.5027,0.000128,1,Normal,1.451297e+09,10,28,12,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
946714,2015-12-28 09:59:55,2.460366,523.0430,2,2,1,262.0161,8.396437,328.5055,2.442316,...,1.778105,189.8552,0.000128,1,Normal,1.451297e+09,9,28,12,5.0
946715,2015-12-28 09:59:56,2.448836,522.9645,2,2,1,262.0161,8.396437,328.5055,2.442316,...,1.778105,189.5027,0.000128,1,Normal,1.451297e+09,9,28,12,4.0
946716,2015-12-28 09:59:57,2.434744,522.8860,2,2,1,262.0161,8.396437,328.6337,2.444879,...,1.778105,189.5027,0.000128,1,Normal,1.451297e+09,9,28,12,3.0
946717,2015-12-28 09:59:58,2.428338,522.9252,2,2,1,262.0161,8.396437,328.6337,2.445391,...,1.649953,189.5027,0.000128,1,Normal,1.451297e+09,9,28,12,2.0
946718,2015-12-28 09:59:59,2.427057,522.8467,2,2,1,262.0161,8.396437,328.6337,2.445391,...,1.649953,189.5988,0.000128,1,Normal,1.451297e+09,9,28,12,1.0

In [101]:
features_numeric = features.select_dtypes(exclude=['datetime64'])

In [102]:
# Convert datetime to Unix timestamp (seconds since epoch)
features['timestamp'] = features['Timestamp'].apply(lambda x: x.timestamp())
features_numeric = features.drop(['Timestamp'], axis=1)  # Now you can drop the original datetime column

In [103]:
scaler = MinMaxScaler()
features_scaled = scaler.fit_transform(features_numeric)

In [95]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

# Convert datetime to Unix timestamp (seconds since epoch)
features['timestamp'] = features['Timestamp'].apply(lambda x: x.timestamp())
features_numeric = features.drop(['Timestamp'], axis=1)  # Now you can drop the original datetime column

# Normalize
scaler = MinMaxScaler()
features = combined_df_cleaned.drop(['Normal/Attack'], axis=1)  # Exclude target for scaling
features_scaled = scaler.fit_transform(features_numeric)

In [110]:
features

,Timestamp,FIT101,LIT101,MV101,P101,P102,AIT201,AIT202,AIT203,FIT201,...,PIT502,PIT503,FIT601,P602,numeric_timestamp,hour,day,month,dtw_distance,timestamp
0,2015-12-28 10:00:00,2.427057,522.8467,2,2,1,262.0161,8.396437,328.6337,2.445391,...,1.649953,189.5988,0.000128,1,1.451297e+09,10,28,12,0.0,1.451297e+09
1,2015-12-28 10:00:01,2.446274,522.8860,2,2,1,262.0161,8.396437,328.6337,2.445391,...,1.649953,189.6789,0.000128,1,1.451297e+09,10,28,12,1.0,1.451297e+09
2,2015-12-28 10:00:02,2.489191,522.8467,2,2,1,262.0161,8.394514,328.6337,2.442316,...,1.649953,189.6789,0.000128,1,1.451297e+09,10,28,12,2.0,1.451297e+09
3,2015-12-28 10:00:03,2.534350,522.9645,2,2,1,262.0161,8.394514,328.6337,2.442316,...,1.649953,189.6148,0.000128,1,1.451297e+09,10,28,12,3.0,1.451297e+09
4,2015-12-28 10:00:04,2.569260,523.4748,2,2,1,262.0161,8.394514,328.6337,2.443085,...,1.649953,189.5027,0.000128,1,1.451297e+09,10,28,12,4.0,1.451297e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
946714,2015-12-28 09:59:55,2.460366,523.0430,2,2,1,262.0161,8.396437,328.5055,2.442316,...,1.778105,189.8552,0.000128,1,1.451297e+09,9,28,12,5.0,1.451297e+09
946715,2015-12-28 09:59:56,2.448836,522.9645,2,2,1,262.0161,8.396437,328.5055,2.442316,...,1.778105,189.5027,0.000128,1,1.451297e+09,9,28,12,4.0,1.451297e+09
946716,2015-12-28 09:59:57,2.434744,522.8860,2,2,1,262.0161,8.396437,328.6337,2.444879,...,1.778105,189.5027,0.000128,1,1.451297e+09,9,28,12,3.0,1.451297e+09
946717,2015-12-28 09:59:58,2.428338,522.9252,2,2,1,262.0161,8.396437,328.6337,2.445391,...,1.649953,189.5027,0.000128,1,1.451297e+09,9,28,12,2.0,1.451297e+09
946718,2015-12-28 09:59:59,2.427057,522.8467,2,2,1,262.0161,8.396437,328.6337,2.445391,...,1.649953,189.5988,0.000128,1,1.451297e+09,9,28,12,1.0,1.451297e+09

In [198]:
#distance = euclidean(reference_series, series)

In [105]:
X_train, X_test, y_train, y_test = train_test_split(features_scaled, combined_df_cleaned['Normal/Attack'], test_size=0.2, random_state=42)

In [106]:
# Reshape for LSTM
X_train_reshaped = X_train.reshape((X_train.shape[0], 1, X_train.shape[1]))
X_test_reshaped = X_test.reshape((X_test.shape[0], 1, X_test.shape[1]))

In [107]:
# Convert categorical labels to numbers
label_mapping = {'Normal': 0, 'Attack': 1}
y_train = y_train.map(label_mapping)
y_test = y_test.map(label_mapping)

In [108]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense, Input

model = Sequential([
    Input(shape=(1, X_train.shape[1])),  # Specify input shape here
    LSTM(50, activation='relu'),
    Dense(1, activation='sigmoid')  # Assuming binary classification
])
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])
model.fit(X_train_reshaped, y_train, epochs=10, batch_size=32, validation_data=(X_test_reshaped, y_test))

Epoch 1/10
23668/23668 ━━━━━━━━━━━━━━━━━━━━ 47s 2ms/step - accuracy: 0.9413 - loss: nan - val_accuracy: 0.9422 - val_loss: nan
Epoch 2/10
23668/23668 ━━━━━━━━━━━━━━━━━━━━ 46s 2ms/step - accuracy: 0.9425 - loss: nan - val_accuracy: 0.9422 - val_loss: nan
Epoch 3/10
23668/23668 ━━━━━━━━━━━━━━━━━━━━ 47s 2ms/step - accuracy: 0.9421 - loss: nan - val_accuracy: 0.9422 - val_loss: nan
Epoch 4/10
23668/23668 ━━━━━━━━━━━━━━━━━━━━ 46s 2ms/step - accuracy: 0.9425 - loss: nan - val_accuracy: 0.9422 - val_loss: nan
Epoch 5/10
23668/23668 ━━━━━━━━━━━━━━━━━━━━ 47s 2ms/step - accuracy: 0.9423 - loss: nan - val_accuracy: 0.9422 - val_loss: nan
Epoch 6/10
23668/23668 ━━━━━━━━━━━━━━━━━━━━ 47s 2ms/step - accuracy: 0.9425 - loss: nan - val_accuracy: 0.9422 - val_loss: nan
Epoch 7/10
23668/23668 ━━━━━━━━━━━━━━━━━━━━ 46s 2ms/step - accuracy: 0.9421 - loss: nan - val_accuracy: 0.9422 - val_loss: nan
Epoch 8/10
23668/23668 ━━━━━━━━━━━━━━━━━━━━ 48s 2ms/step - accuracy: 0.9424 - loss: nan - val_accuracy: 0.9422 - val_loss: nan
Epoch 9/10
23668/23668 ━━━━━━━━━━━━━━━━━━━━ 46s 2ms/step - accuracy: 0.9424 - loss: nan - val_accuracy: 0.9422 - val_loss: nan
Epoch 10/10
23668/23668 ━━━━━━━━━━━━━━━━━━━━ 46s 2ms/step - accuracy: 0.9424 - loss: nan - val_accuracy: 0.9422 - val_loss: nan

In [111]:
loss, accuracy = model.evaluate(X_test_reshaped, y_test)
print("Test accuracy:", accuracy)

5917/5917 ━━━━━━━━━━━━━━━━━━━━ 7s 1ms/step - accuracy: 0.9429 - loss: nan
Test accuracy: 0.9422321319580078

In [112]:
predictions = model.predict(X_test_reshaped)
predictions = (predictions > 0.5).astype(int)  # Assuming binary classification (0 and 1)

5917/5917 ━━━━━━━━━━━━━━━━━━━━ 7s 1ms/step

In [113]:
from sklearn.metrics import classification_report

In [114]:
print(y_test.isnull().sum())  # Count NaN values in y_test

8

In [115]:
# Drop samples with NaN in y_test and corresponding predictions
valid_indices = y_test.notnull()  # Indices where y_test is not NaN
y_test_clean = y_test[valid_indices]
predictions_clean = predictions[valid_indices]

In [116]:
# Example: Fill NaN with the mode of y_test
mode_value = y_test.mode()[0]
y_test_filled = y_test.fillna(mode_value)

In [117]:
from sklearn.metrics import classification_report

# Ensure no NaN values remain
print(y_test_clean.isnull().sum())  # Should be 0

# Calculate metrics
report = classification_report(y_test_clean, predictions_clean, target_names=['Normal', 'Attack'], zero_division=0)
print(report)

0
              precision    recall  f1-score   support

      Normal       0.94      1.00      0.97    178406
      Attack       0.00      0.00      0.00     10930

    accuracy                           0.94    189336
   macro avg       0.47      0.50      0.49    189336
weighted avg       0.89      0.94      0.91    189336

In [ ]:
from sklearn.svm import OneClassSVM

# Initialize OCSVM
ocsvm = OneClassSVM(kernel='rbf', gamma='auto', nu=0.05)  
ocsvm.fit(features_scaled)

In [ ]:
preds = ocsvm.predict(features_scaled)

In [ ]:
from sklearn.metrics import classification_report

# Assuming you have actual labels for anomalies
print(classification_report(actual_labels, preds, target_names=['Normal', 'Attack']))